<%= simple_form_for(list) do |f| %>
  <div class="card shadow border-0 rounded-lg p-4">

    <div class="mb-3">
      <%= f.input :name, input_html: { class: 'form-control shadow-sm rounded' } %>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <%= link_to "Cancel", lists_path, class: "btn shadow-sm rounded-pill px-4 me-2", style: "background-color: #6C757D; color: white;" %>
      <%= f.submit 'Add', class: 'btn shadow-sm rounded-pill px-4', style: 'background-color: #FF385C; color: white;' %>
    </div>
  </div>
<% end %>
